:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --strong-cyan: hsl(172, 67%, 45%);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:  var(--light-grayish-cyan);
    display:flex;
    font-family: 'Space Mono', monospace;
}

button{
    border: none;
    outline: none;
    width: 5rem;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
    color: var(--white);
    background: var(--very-dark-cyan);
    cursor: pointer;
    transition: all .4s ease;
}

input{
    padding:.7em;
    border:none;
    background: var(--very-light-grayish-cyan);
    border-radius: 5px;
    width: 100%;
}

.main-head{
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.calculator-container{
    background: var(--white);
    border-radius: 15px;
    max-width: 70%;
    padding:2em;
    display: flex;
    margin: auto;
}

.bill-container{
    max-width: 50%;
    padding-right: 1em;
    
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
    margin-top: .5rem;
    width: 100%;
}

.tip-amount-select{
    background: var(--very-dark-cyan);
    border: none;
    padding:.5em;
    border-radius: 5px;
    color: var(--white);
}

.tip-amount-select:hover{
    background:var(--strong-cyan);
}

#custom{
    background:  var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
}

.total-container{
    background: var(--very-dark-cyan);
    width: 50%;
    border-radius: 15px;
    padding: 2em;
   
}

.reset{
    border-radius: 5px;
    width:100%;
    background: var(--strong-cyan);
    color:var(--very-dark-cyan);
    border:none;
    padding: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5em;
}

.tip-total-pp-container,
.total-pp-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tip-total-pp-container{
    margin-bottom: 3em;
}

.tip-total-pp,
.total-pp{
    color:var(--strong-cyan);
    font-size: 1.5rem;
    font-weight: 700;
}

.pp-head{
    color: var(--white);
    font-weight: 700;
    font-size: .9rem;
}

.pp-span{
    color: var(--light-grayish-cyan);
    font-weight: 400;
    font-size: .6rem;
}